/* obsluga okna kategorii */
.okno_kateg { border:1px solid #c1c1c1; padding:2px; padding-bottom:7px; }
.okno_naglowek { padding:7px; padding-left:5px; background:url('../obrazki/tlo.png') no-repeat right bottom; text-shadow: #fff 1px 1px 1px; font-weight:bold; color:#2b595b; }

/* lista kategorii do jakich jest przypisany produkt */
.male_kat { display:block; padding-top:5px; padding-bottom:2px; }

.dodaj_kategorie { margin:5px; margin-top:10px; }

#lista_kategorii table { width:100%; }
#lista_kategorii td { padding:4px; }
#lista_kategorii a { font-weight:bold; text-decoration:none; }
#lista_kategorii a:hover { font-weight:bold; color:#ff0000; }
#lista_kategorii .brak_kategorii { font-weight:bold; padding:10px; padding-bottom:6px; }

#wynik_produktow_recenzje { margin-top:10px; margin-left:10px; margin-bottom:20px; width:660px; }
#wynik_produktow_recenzje span { display:block; padding-bottom:10px; font-weight:bold; }

/* lista produktow */
.wynik_naglowek { display:block; padding-top:11px; font-weight:bold; padding-left:3px; }
.wynik_naglowek_dodanie { display:block; padding:10px; font-weight:bold; color:#ff0000; }
.wynik_naglowek_brak { display:block; padding-top:40px; font-weight:bold; }
#wynik_przewijany { width:660px; max-height:200px; overflow-y:scroll; }
.tbl_produkt { color: #3f5d6b; width:640px; border:0px; }
.tbl_produkt td { border:3px solid #fff; text-align:center; }
.tbl_produkt .prot td { background:#f4f2f2; padding:4px; text-decoration:none; }
.tbl_produkt span { white-space:nowrap; display:block; padding:5px; background:#e5e5e5; color:#3f5d6b; text-decoration:none; }

/* status jezeli kategoria jest wylaczona */
.wylKat { background: url("../obrazki/uwaga_mala.png") no-repeat left center; display:inline-block; padding:2px; padding-left:10px; }

.ocena_tbl { padding-left:12px; }

/* grupa klientow */
.grupa_klientow { display:inline-block; padding:5px; }
